@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f9f9f9;
    font-family: 'Lato', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    background-color: white !important; 
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #999;
}
.title { 
    font-size: 2rem;
    font-weight: 900; 
    color: rgb(0, 81, 255);
}
.clr {
    display: flex;
}
.clr li {
    display: flex;
}
.clr li a {
    font-size: 1.3rem;
    padding: 0 1rem;
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-weight: 700;
}
.clr li a:hover { color: rgb(0, 81, 255); }
.main {
    min-height: calc(100% - 5rem);
    display: grid;
    justify-content: center;
    align-content: center;
}
.main h2 {
    background-color: rgb(83, 83, 83);
    color: white;
    padding: 3rem;
    margin-bottom: 2rem;
    border-radius: 5rem;
    font-size: 2rem;
}
.main button {
    color: rgb(83, 83, 83);
    padding: 1rem;
    font-size: 2rem;
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 5rem;
}
.main button:hover {
    background-color: rgb(145, 180, 255);
    transition: 0.5s ease-in-out;
    color: white;

}